{{ define "main" }}

{{ if site.Params.buy_premium_popup.enable }}
<div class="buyPremium position-fixed fade">
  <div
    class="block p-4 p-lg-5 bg-white rounded-lg shadow-lg call-to-action has-bg-color">
    {{ with site.Params.buy_premium_popup }}
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <div class="section-title text-center mb-0" data-aos="fade-up">
              <h2 class="title underline-none">{{ .title | markdownify }}</h2>
              <p>{{ .content | markdownify }}</p>
              <a href="{{ .button_link }}" class="btn btn-primary mt-4"
                >{{ .button }}</a
              >
            </div>
          </div>

          <div class="has-circle has-bg-anim" data-aos="fade-in">
            <svg
              class="text-primary"
              style="opacity:.12"
              width="100%"
              height="100%"
              viewBox="0 0 1381 283"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1379 0.998871C1346.3 58.3528 1186.5 172.501 961.409 121.133C645.85 49.1205 596.5 68.5008 448.172 194.674C386.651 247.006 248.005 308.633 1 265.688"
                stroke="currentColor"
                stroke-width="4"
                stroke-dasharray="10 10" />
            </svg>
            <span class="circle-1 ratio-32"></span>
            <span class="circle-2 ratio-85 fill"></span>
            <span class="circle-3 ratio-47"></span>
            <span class="circle-4 ratio-20 fill"></span>
            <span class="circle-5 ratio-73"></span>
            <span class="circle-6 ratio-37"></span>
          </div>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    {{ end }}

    <div class="has-circle has-bg-anim" style="opacity: .5">
      {{ partial "image.html" (dict "Src" "images/waves/05.svg" "Class" "wave-1 w-100" ) }}
      <span class="circle-1 ratio-32"></span>
      <span class="circle-2 ratio-37"></span>
      <span class="circle-3 ratio-47"></span>
      <span class="circle-4 ratio-20"></span>
      <span class="circle-5 ratio-73"></span>
      <span class="circle-6 ratio-37"></span>
    </div>
  </div>
  <div class="overlay"></div>
</div>
{{ end }}

  <!-- checking blog -->
  {{ if eq .Type "post" }}
    <!-- strat of blog-details -->
    <section class="section-sm pt-0">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-in">
          <div class="col-lg-10 mb-5">
            {{ with .Params.image }}
              {{ partial "image.html" (dict "Src" . "Alt" "blog post" "Class" "w-100 rounded-3" "Size" "1020x") }}
            {{ end }}
          </div>
          <div class="col-lg-8">
            <div class="mb-5">
              <h2>{{ .Title | markdownify }}</h2>
              {{ $publishDate := .PublishDate.Format "Jan 02, 2006" }}
              {{ with site.GetPage (string .Params.Author | urlize | lower) }}
                <div class="d-flex align-items-center card-author mt-4">
                  <div class="user-image me-3">
                    <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                      {{ if .Params.image }}
                        {{ partial "image.html" (dict "Src" .Params.image "Alt" "author image" "Class" "rounded-circle" "Size" "70x70") }}
                      {{ else if .Params.Email }}
                        {{ partial "image.html" (dict "Src" "https://www.gravatar.com/avatar/{{ md5 . }}?s=70&pg&d=identicon"
                        "Alt" "author image" "Class" "rounded-circle" "Size"
                        "70x70") }}
                      {{ end }}
                    </a>
                  </div>
                  <div class="user-info">
                    <p class="fw-500 mb-0 h5">
                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </p>
                    <span
                      >{{ $publishDate }} - {{ .ReadingTime }}
                      {{ T `min_read` }}</span
                    >
                  </div>
                </div>
              {{ end }}
            </div>

            <div class="content">
              {{ .Content }}
            </div>
          </div>
          {{ if site.Config.Services.Disqus.Shortname }}
            <div class="col-lg-8" data-aos="fade-in">
              <!-- comments -->
              <div class="mt-5">
                {{ template "_internal/disqus.html" . }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- end of blog-details -->

    <!-- start of blog-section -->
    <section class="section pt-5">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-in">
          <div class="col-12">
            <div class="section-title text-center">
              <h2 class="title">{{ T `related_articles` }}</h2>
            </div>
          </div>

          {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where
            site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . )
          }}
          {{ range first 2 $related }}
            <div class="col-lg-5">
              {{ .Render "article" }}
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- end of blog-section -->

    <!-- regular page -->
  {{ else }}
    {{ partial "components/page-header.html" . }}
    <section class="section-sm">
      <div class="container-xxl">
        <div class="row" data-aos="fade-in">
          <div class="col-lg-10 mx-auto">
            <div class="content">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /regular page -->
{{ end }}
